{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />

  <title>BatiAlert</title>

  <meta name="description"
        content="Smart Load Shedding Schedule & Backup Planner" />

  <!-- Google Fonts -->
  <link rel="preconnect"
        href="https://fonts.googleapis.com" />

  <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Geist:wght@300;400;500;600&display=swap"
        rel="stylesheet" />

  <!-- CSS -->
  <link rel="stylesheet"
        href="{% static 'css/style.css' %}" />
</head>

<body>

  <!-- NAVBAR -->
  <nav id="navbar">
    {% include 'navbar.html' %}
  </nav>
{% if messages %}

<div id="django-messages">

  {% for message in messages %}

  <div class="django-message"
       data-message="{{ message }}"
       data-tag="{{ message.tags }}">
  </div>

  {% endfor %}

</div>

{% endif %}
  <!-- PAGE CONTENT -->
  <main id="main-content">

    {% block content %}
    {% endblock %}




  </main>
  <!-- SAVE SETUP MODAL -->

<div
    id="setupModal"
    class="setup-modal"
>

    <div class="setup-card-modal">

        <div class="setup-modal-header">

            <h2>
                Save Backup Setup
            </h2>

            <button
                id="closeSetupModal"
                type="button"
                class="setup-close-btn"
            >
                ✕
            </button>

        </div>

        <form method="POST" action="{% url "save_setup" %}">
            {% csrf_token %}
            <div class="form-group">

                <label class="form-label">
                    IPS Capacity (VA)
                </label>

                <input
                    type="number"
                    name="ips_capacity"
                    class="form-input"
                    placeholder="Enter IPS Capacity"
                >

            </div>

            <h3 class="setup-section-title">
                Appliances
            </h3>

            <div
                id="applianceContainer"
            >

                <div
                    class="appliance-item"
                >

                    <select
                        name="appliance[]"
                        class="form-input"
                    >

                        <option value="">
                            Select Appliance
                        </option>

                        {% for appliance in appliances %}

                        <option value="{{ appliance.id }}">
                            {{ appliance.name }}
                        </option>

                        {% endfor %}

                    </select>

                    <div
                        class="appliance-grid"
                    >

                        <input
                            type="number"
                             name="quantity[]"
                            class="form-input"
                            placeholder="Quantity"
                        >

                        <input
                            type="number"
                            class="form-input"
                             name="custom_watt[]"
                            placeholder="Custom Watt"
                        >

                        <select
                         name="priority[]"
                            class="form-input"
                        >

                           <option value="1">
                              Highest
                          </option>

                          <option value="2">
                              High
                          </option>

                          <option value="3">
                              Medium
                          </option>

                          <option value="4">
                              Low
                          </option>

                        </select>

                    </div>

                </div>

            </div>

            <button
                type="button"
                id="addAppliance"
                class="add-appliance-btn"
            >
                + Add Appliance
            </button>

            <button
                type="submit"
                class="schedule-btn w-full"
            >
                Save Setup
            </button>

        </form>

    </div>

</div>
  <!-- JS -->

  {% include 'footer.html' %}
  <script src="{% static 'js/script.js' %}"></script>

</body>
</html>