{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />

  <title>BatiAlert</title>

  <meta name="description"
        content="Smart Load Shedding Schedule & Backup Planner" />

  <!-- Google Fonts -->
  <link rel="preconnect"
        href="https://fonts.googleapis.com" />

  <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Geist:wght@300;400;500;600&display=swap"
        rel="stylesheet" />

  <!-- CSS -->
  <link rel="stylesheet"
        href="{% static 'css/style.css' %}" />
</head>

<body>

  <!-- NAVBAR -->
  <nav id="navbar">
    {% include 'navbar.html' %}
  </nav>
{% if messages %}

<div id="django-messages">

  {% for message in messages %}

  <div class="django-message"
       data-message="{{ message }}"
       data-tag="{{ message.tags }}">
  </div>

  {% endfor %}

</div>

{% endif %}
  <!-- PAGE CONTENT -->
  <main id="main-content">

    {% block content %}
    {% endblock %}

  </main>

  <!-- JS -->
  <script src="{% static 'js/script.js' %}"></script>

</body>
</html>