<nav class="navbar">

  <!-- Left: Logo -->
  <div class="navbar-left">

    <a href="{% url "home" %}"
       class="brand">

    <div class="brand-logo">

        <svg
            viewBox="0 0 24 24"
            width="22"
            height="22"
            fill="none">

            <path
                d="M13 2L6 13H11L10 22L18 10H13V2Z"
                fill="white"/>

        </svg>

    </div>

    <span class="brand-text">

        BatiAlert

    </span>

</a>

  </div>

  <!-- Middle: Navigation -->
  <div class="navbar-center">

    <a href="{% url "dashboard" %}"
       class="nav-link protected-link">

        Dashboard

    </a>

    <a href="{% url "schedule" %}"
       class="nav-link protected-link">

        Schedule

    </a>

    <a href="{% url "calculator" %}"
       class="nav-link protected-link">

        Calculator

    </a>

    <a href="{% url "notices" %}"
       class="nav-link protected-link">

        Notices

    </a>

    {% if request.user.is_staff %}
    <a href="{% url "management_dashboard" %}"
       class="nav-link">

        Management

    </a>
    {% endif %}

</div>

<span
    id="authStatus"
    data-auth="{% if request.user.is_authenticated %}true{% else %}false{% endif %}">
</span>


  <!-- Right: Profile -->
  <div class="navbar-right">

    {% if request.user.is_authenticated %}

        <!-- Logged In User -->

        <button
            id="profileBtn"
            class="profile-btn">

            <div class="profile-avatar">

                {{ request.user.username|first|upper }}

            </div>

            <span class="profile-name">

                {{ request.user.username }}

            </span>
           <span class="dropdown-arrow">
  ▼
</span>
        </button>

        <div
            id="profileDropdown"
            class="profile-dropdown">

            <a href="{% url "profile" %}">
                My Profile
            </a>

            <a href="#"  id="openSetupModal">
                Saved Setups
            </a>

            <a href="{% url "logout" %}">
                Logout
            </a>

        </div>

    {% else %}

        <!-- Guest User -->

        <div class="guest-actions">

            <a
                href="/users/login/"
                class="nav-link">

                Login

            </a>

            <a
                href="/users/signup/"
                class="nav-btn">

                Sign Up

            </a>

        </div>

    {% endif %}

</div>

</nav>
